    <nav class="bg-primary  z-50">
      <div class="logo hidden sm:block">
                logo
      </div>
      <div class="nav-links">
        <% if user_signed_in? %>
          <%= link_to "Start Your Own Collab", new_meeting_path, class: "nav-link text-sm sm:text-lg" %>
          <%= link_to "Join Avaliable Sessions", random_meeting_path, class: "nav-link text-sm sm:text-lg" %>
         <%= link_to invitations_path, class: '' do %>
                <%= render partial: 'components/noti_svg' %>
         <% end %>
          <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "logout-btn" %>
          <div class="theme-changer hover:shadow-custom rounded-full p-1 cursor-pointer sm:block hidden">
            <div class="light-theme">
            <%= render partial: "components/sun_svg" %>
            </div>
            <div class="night-theme hidden">
            <%= render partial: "components/moon_svg" %>
            </div>
          </div>
        <% else %>
          <%= link_to "Sign In", new_user_session_path, class: "nav-link text-sm sm:text-lg" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link text-sm sm:text-lg" %>
          <div class="theme-changer hover:shadow-custom rounded-full p-1 cursor-pointer sm:block hidden">
            <div class="light-theme">
            <%= render partial: "components/sun_svg" %>
            </div>
            <div class="night-theme hidden">
            <%= render partial: "components/moon_svg" %>
            </div>
          </div>
        <% end %>
      </div>
    </nav>
