<%# Path: app/views/meetings/show.html.erb %>

<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 flex flex-col gap-5">
  <h1 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900  font-secondary text-center"><%= @meeting.name %></h1>

  <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900  font-secondary">About</h2>

<p class="font-extrabold text-md text-teritertary"><%= @meeting.description%> </p>
<p class="font-extrabold text-md text-teritertary">This meeting is owned by
  <a href="mailto:<%= @meeting.user.email %>" class="underline hover:text-primary"><%= @meeting.user.email %></a>
 (<%= @meeting.user.name%>) </p>
  <% if @meeting.is_public %>
    <p class="font-extrabold text-md text-teritertary">This meeting is public.</p>
  <% else %>
    <p class="font-extrabold text-md text-teritertary">This meeting is private.</p>
  <% end %>
<p> Zoom Link:
  <a href="<%= @meeting.zoom_link %>" class="underline hover:text-primary" target="_blank"><%= @meeting.zoom_link %></a>
 </p>
<p class="font-bold">
  Meeting starts in <%= time_ago_in_words(@meeting.start_time) %>
  (at <%= @meeting.start_time.strftime("%A, %B %e, %Y at %l:%M %p") %>)
</p>

    <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900  font-secondary">Participants</h2>
<% if @meeting.invitee_emails_array.any? %>
  <ul>
    <% @meeting.invitee_emails_array.each do |email| %>
      <li class="flex gap-3">
        <a href="mailto:<%= email %>" class="underline hover:text-primary"><%= email %></a>

      <% invitation = @meeting.invitations.find_by(user_id: User.find_by(email: email)) %>
      <% if invitation.present? %>
        <% if invitation.accepted? %>
          <span class="status accepted">(Accepted)</span>
        <% elsif invitation.rejected? %>
          <span class="status rejected">(Rejected)</span>
        <% else %>
          <span class="status pending">(Pending)</span>
        <% end %>
      <% else %>
        <span class="status not-registered">(Not Registered)</span>
      <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No invitees yet.</p>
<% end %>

    <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900  font-secondary">Invite Others</h2>
<%= form_with(model: @meeting, url: invite_meeting_path(@meeting), method: :patch) do |form| %>
  <div class="form-group flex gap-5">
    <%= form.label :invitee_email , class: "my-auto"%>
    <%= form.email_field :invitee_email,placeholder:"example@gmail.com", class: 'form-control w-[300px] foucs:border focus:dark:shadow-custom mt-3 rounded-lg  border px-2 focus:outline-none py-2 text-xl' %>
  </div>

  <%= form.submit 'Invite', class: 'btn bg-primary hover:bg-secondary transition-all duration-75 ease-in my-5' %>
<% end %>

 </div>

